{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block css %}

    <style>
        .scroll {
            max-height: 400px;
            overflow-y: auto;
        }

        .scrolling-wrapper {
            overflow-x: auto;
        }

        /* Center the loader */
        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }
    </style>
    <style>
        .label {
            color: white;
            padding: 8px;
            font-family: Arial;
        }

        .success {
            background-color: #04AA6D;
        }

        /* Green */
        .info {
            background-color: #2196F3;
        }

        /* Blue */
        .warning {
            background-color: #ff9800;
        }

        /* Orange */
        .danger {
            background-color: #f44336;
        }

        /* Red */
        .other {
            background-color: #e7e7e7;
            color: black;
        }

        /* Gray */
    </style>
    <!-- Datatables -->

    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


    <link href="../dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="../dist/maps/jquery.vmap.tunisia.js" charset="utf-8"></script>




{% endblock %}
{% block body %}


    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Plain Page</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Table design <small>Custom design</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <!------------------------------------------------------------------------------------>
                            <!------------------------------------------------------------------------------------>
                            <!------------------------------------------------------------------------------------>

                            <label id="alertNotif"></label>
                            <button type="submit" class="btn btn-round btn-success"  id="btnMerge" disabled >Créer jointure</button>
                            <div class="container-fluid">
                                <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">


                                    {% for tab in tabs %}

                                        <div class="col-md-4 col-sm-4 ">
                                            <div class="card  border-info w-75 scroll ">
                                                <div class="card-body ">
                                                    <h5 class=" card-header text-info"> {{ tab.Tab }} </h5>
                                                    <!--  <p class="card-text">{{ tab.cols |join(',   ') }}</p>-->
                                                    {% for col  in tab.cols %}
                                                        <label>{{ col }}</label>
                                                        <div class="text-right">
                                                            <label for="{{ tab.Tab  ~ "@" ~ col ~ "#"  ~  "J" }}">J
                                                                : </label>
                                                            <input type="checkbox" name="{{ tab.Tab ~ col }}"
                                                                   id="{{ tab.Tab  ~ "@" ~ col ~ "#"  ~  "J" }}"
                                                                   value="{{ tab.Tab  ~ "@" ~ col ~ "#"  ~  "J" }}"
                                                                   onclick="cbCheck(this);">

                                                            <label for="{{ tab.Tab ~ "@"  ~ col ~ "#" ~ "M" }}">M
                                                                : </label>
                                                            <input type="checkbox" name="{{ tab.Tab ~ col }}"
                                                                   id="{{ tab.Tab ~ "@"  ~ col ~ "#" ~ "Mesure" }}"
                                                                   value="{{ tab.Tab ~ "@"  ~ col ~ "#" ~ "Mesure" }}"
                                                                   onclick="cbCheck(this);">

                                                            <label for={{ tab.Tab  ~ "@" ~ col ~ "#" ~ "D" }}>D
                                                                : </label>
                                                            <input type="checkbox" name="{{ tab.Tab ~ col }}"
                                                                   id="{{ tab.Tab  ~ "@" ~ col ~ "#" ~ "Dimension" }}"
                                                                   value="{{ tab.Tab  ~ "@" ~ col ~ "#" ~ "Dimension" }}"
                                                                   onclick="cbCheck(this);">
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>



                                    {% endfor %}
                                </div>
                            </div>
                            <!------------------------------------------------------------------------------------>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    </div>
    </div>
    <!-- /page content -->


{% endblock %}
{% block js %}
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const dataset = urlParams.get('dataset')

        $( document ).ready(function() {
            var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dataset/show?dataset=" + dataset

            $.ajax({
                type: "GET",
                url: urlAPI,
                success: function(data){

                    for (var i = 0; i < data.length; i++) {
                        colonne = data[i]["table_name"] + "@" + data[i]["label"]  + "#" + data[i]["agregation"]
                        var element = document.getElementById(colonne);
                        element.checked = true;

                        joinC = data[i]["table_name"] + "@" + data[i]["cle_jointure"]  + "#" + "J"
                        var element = document.getElementById(joinC);
                        element.checked = true;

                    }
                } ,
                error: function(errMsg) {

                    alert("erreur")
                },
            });


        } )
    </script>
    <script>

        /*
             document.getElementById('alertNotif').innerHTML = 'Deja selectionner';
            document.getElementById('alertNotif').className  = ('label warning')
         */
        var tab1 = "";
        var tab1Cols = [];
        var tab1Agreg = [];
        var tab1JoinCol = []

        var tab2 = "";
        var tab2Cols = [];
        var tab2Agreg = [];
        var tab2JoinCol = []

        function cbCheck(cb) {
            tab = cb.value.substring(0, cb.value.indexOf('@'))
            col = cb.value.substring(cb.value.indexOf('@') + 1, cb.value.indexOf('#'))
            agreg = cb.value.substring(cb.value.indexOf('#') + 1, cb.value.length)


            if (cb.checked == true) {
                if (agreg != "J") {
                    if (tab1 != tab && tab2 != tab) {
                        document.getElementById('alertNotif').innerHTML = 'selectionnez colonne jointure';
                        document.getElementById('alertNotif').className  = ('label warning')
                        var element = document.getElementById(cb.value);
                        element.checked = false;
                    } else if (tab1 == tab) {
                        if (tab1JoinCol == col) {
                            cb.checked = false;
                            document.getElementById('alertNotif').innerHTML = 'cette colonne est choisi comme jointure';
                            document.getElementById('alertNotif').className  = ('label warning')
                        } else if (tab1Cols.indexOf(col) != -1) {
                            colonne = tab1 + "@" + col + "#" + tab1Agreg[tab1Cols.indexOf(col)]

                            var element = document.getElementById(colonne);
                            element.checked = false;
                            tab1Agreg[tab1Cols.indexOf(col)] = agreg
                            document.getElementById('alertNotif').innerHTML = '';
                            document.getElementById('alertNotif').className  = ('')
                        } else {
                            tab1Cols.push(col);
                            tab1Agreg.push(agreg);
                            document.getElementById('alertNotif').innerHTML = '';
                            document.getElementById('alertNotif').className  = ('')
                        }
                    } else if (tab2 == tab) {
                        if (tab2JoinCol == col) {
                            cb.checked = false;
                            document.getElementById('alertNotif').innerHTML = 'cette colonne est choisi comme jointure';
                            document.getElementById('alertNotif').className  = ('label warning')
                        } else if (tab2Cols.indexOf(col) != -1) {
                            colonne = tab2 + "@" + col + "#" + tab2Agreg[tab2Cols.indexOf(col)]

                            var element = document.getElementById(colonne);
                            element.checked = false;
                            tab2Agreg[tab2Cols.indexOf(col)] = agreg
                            document.getElementById('alertNotif').innerHTML = '';
                            document.getElementById('alertNotif').className  = ('')
                        } else {
                            tab2Cols.push(col);
                            tab2Agreg.push(agreg);
                            document.getElementById('alertNotif').innerHTML = '';
                            document.getElementById('alertNotif').className  = ('')
                        }
                    }

                } else {
                    if (tab1 == "") {
                        tab1 = tab
                        tab1JoinCol = col
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    } else if (tab1 == tab) {
                        var element = document.getElementById(tab + "@" + tab1JoinCol + "#" + "J");
                        element.checked = false;
                        tab1JoinCol = col
                        const index = tab1Cols.indexOf(col);
                        if (index != -1){
                            colonne = tab1 + "@" + col + "#" + tab1Agreg[tab1Cols.indexOf(col)]
                            var element = document.getElementById(colonne);
                            element.checked = false;
                            tab1Cols.splice(index, 1);
                            tab1Agreg.splice(index,1)
                        }
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    } else if (tab2 == "") {
                        tab2 = tab
                        tab2JoinCol = col
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    } else if (tab2 == tab) {
                        var element = document.getElementById(tab + "@" + tab2JoinCol + "#" + "J");
                        element.checked = false;
                        tab2JoinCol = col
                        const index = tab2Cols.indexOf(col);
                        if (index != -1){
                            colonne = tab2 + "@" + col + "#" + tab2Agreg[tab2Cols.indexOf(col)]
                            var element = document.getElementById(colonne);
                            element.checked = false;
                            tab2Cols.splice(index, 1);
                            tab2Agreg.splice(index,1)
                        }
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    } else {
                        var element = document.getElementById(cb.value);
                        element.checked = false;
                        document.getElementById('alertNotif').innerHTML = 'jointure entre seulement deux tables';
                        document.getElementById('alertNotif').className  = ('label warning')
                    }

                }
            } else {
                if (agreg != "J") {
                    if (tab1 == tab) {
                        const index = tab1Cols.indexOf(cb.value);
                        tab1Cols.splice(index, 1);
                        tab1Agreg.splice(index, 1);
                    } else if (tab2 == tab) {
                        const index = tab2Cols.indexOf(cb.value);
                        tab2Cols.splice(index, 1);
                        tab2Agreg.splice(index, 1);
                    }
                } else {
                    if (tab1 == tab) {
                        cb.checked == false;
                        tab1Cols.forEach(elmt => {
                                colonne = tab1 + "@" + elmt + "#" + tab1Agreg[tab1Cols.indexOf(elmt)]
                                var element = document.getElementById(colonne);
                                element.checked = false;
                            }
                        );
                        tab1 = "";
                        tab1JoinCol = [];
                        tab1Cols = [];
                        tab1Agreg = [];
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    } else if (tab2 == tab) {
                        cb.checked == false;
                        tab2Cols.forEach(elmt => {
                                colonne = tab2 + "@" + elmt + "#" + tab2Agreg[tab2Cols.indexOf(elmt)]
                                var element = document.getElementById(colonne);
                                element.checked = false;
                            }
                        );
                        tab2 = "";
                        tab2JoinCol = [];
                        tab2Cols = [];
                        tab2Agreg = [];
                        document.getElementById('alertNotif').innerHTML = '';
                        document.getElementById('alertNotif').className  = ('')
                    }
                }
            }
            log()
        }

        function log() {
            console.log("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%")
            console.log("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%")
            console.log("--------------------")
            console.log("tab1 = " + tab1)
            console.log("tab1Cols  = " + tab1Cols)
            console.log("tab1Agreg  = " + tab1Agreg)
            console.log("tab1JoinCol  = " + tab1JoinCol)
            console.log("------------------------------------")
            console.log("tab2 = " + tab2)
            console.log("tab2Cols  = " + tab2Cols)
            console.log("tab1Agreg  = " + tab2Agreg)
            console.log("tab2JoinCol  = " + tab2JoinCol)

            if (tab1 != "" && tab1Cols.length != 0  && tab1Agreg.length != 0 && tab1JoinCol.length != 0
                && tab2 != "" && tab2Cols.length != 0  && tab2Agreg.length != 0 && tab2JoinCol.length != 0  ) {


                var element = document.getElementById("btnMerge");
                element.disabled = false;
            } else {
                var element = document.getElementById("btnMerge");
                element.disabled = true;
            }

        }
        $("#btnMerge").click( function()
        {     var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dataset/config?dataset=" + dataset +"&tab1=" + tab1 + "&tab1Cols=" + JSON.stringify(tab1Cols) + "&tab1Agreg=" + JSON.stringify(tab1Agreg) + "&tab1JoinCol=" +tab1JoinCol +
                "&tab2=" + tab2 + "&tab2Cols=" + JSON.stringify(tab2Cols) + "&tab2Agreg=" + JSON.stringify(tab2Agreg) + "&tab2JoinCol=" +tab2JoinCol
            $.ajax({
                type: "POST",
                url: urlAPI,
                success: function(data){
                    Swal.fire(
                        'Good job!',
                        'Table Jointure créer!',
                        'success'
                    ) ;
                    window.location.reload();
                    document.getElementById("loader").style.display = "none";
                } ,
                error: function(errMsg) {
                    Swal.fire(
                        'Error!',
                        'Table Jointure existant!',
                        'error'
                    ) ;
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("btnClear").style.visibility = "visible";
                },
            });





        })
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
